body {
  font-family: "Ubuntu Mono", monospace;
  background-color: #1c1a1a;
  overflow-x: hidden;
  text-align: center;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, b, button, div {
  color: #ba7d24;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

b {
  font-size: 4em;
  margin: 0.5em;
  user-select: none;
}

div h2 {
  width: calc(30vw + 8px);
  text-align: center;
}

textarea {
  resize: none;
  width: 30vw;
  height: max(30vh, 15em);
  background-color: #1c1a1a;
  border: 2px solid #ba7d24;
  color: #927c10;
  outline: none;
}

.music {
  width: 66vw;
}

button {
  font: inherit;
  display: block;
  background-color: #1c1a1a;
  border-left: 1px solid #ba7d24;
  border-right: 1px solid #ba7d24;
  border-top: 2px solid #ba7d24;
  border-bottom: 0;
  cursor: pointer;
  width: 3em;
  height: 5em;
  outline: none;
  margin-bottom: 1em;
}

.sharp {
  border-top: 0;
  border-bottom: 2px solid #ba7d24;
}

button:first-child {
  border-left: 2px solid #ba7d24;
}

button:last-child {
  border-right: 2px solid #ba7d24;
}

button span {
  position: relative;
}

button:active span {
  top: 1px;
}
